<!-- navigation Bar -->
<div class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <!-- calling the OnOpen modal Function -->
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
        aria-controls="pills-home" aria-selected="true" (click)="onOpenModal(null,'add')">Add Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
        aria-controls="pills-profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
        aria-controls="pills-contact" aria-selected="false">Contact</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <!-- giving a local reference to the input parameter and passing its value to the search function -->
    <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel name="key"
      id="searchContact" class="form-control mr-sm-2" placeholder="search Contacts" >
  </form>
</div>

<div class="nav nav-pills mb-3">
  <!-- separation between navigation and main content. -->
</div>

<!-- Caard Template -->
<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <!-- this is callled a safe navigation iterator, it makes sure the employee exists befor getting the attribute. -->
            <a href=""><img src="{{employee?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{employee.name}}</h5>
            <p class="m-0">{{employee?.jobTitle}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a
              href="#">{{employee?.email}}</a></li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{employee?.phone}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <!-- Adding listners to add and delete employees -->
            <!-- Two Buttons to trigger modals -->
            <a (click)="onOpenModal(employee,'edit')" href="#" class="btn btn-primary tooltips" data-placement="top"
              data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal(employee,'delete')" href="#" class="btn btn-secondary tooltips" data-placement="top"
              data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
          <ul class="social-links list-inline mb-0">
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add employee Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
          <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- form beginning, calling the submit function. -->
          <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <!-- we  added ngModel, and name for each field -->
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="name" required="true">
          </div>
          <div class="form-group">
            <label for="email" class="form-label">Email address</label>
            <input type="text" ngModel name="email" class="form-control" id="emailAddress"
              placeholder="name@example.com" required="true">
          </div>

          <div class="form-group">
            <label for="jobTitle" class="form-label">Job Title</label>
            <input type="text" ngModel ngModel name="jobTitle" class="form-control" id="jobTitle"
              placeholder="Job Title" required="true">
          </div>
          <div class="form-group">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone" required="true">
          </div>
          <div class="form-group">
            <label for="imageUrl" class="form-label">Image Url</label>
            <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="iamge url"
              required="true">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- disable the button if the form is Invalid -->
          <button [disabled]="addForm.invalid" type="submit" id="" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Edit employee Modal -->
<div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <!-- Binding form data  -->
    <div class="modal-content">
      <form #editForm="ngForm">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Contact: {{editEmployee?.name}}?</h5>
          <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <!-- we  added ngModel, and name for each field -->
            <input type="text" ngModel={{editEmployee?.name}} name="name" class="form-control" id="name"
              placeholder="name" required="true">
          </div>
          <!-- hidden form data -->
          <input type="hidden" ngModel={{editEmployee?.id}} name="id" id="id" class="form-control" placeholder="id">
          <input type="hidden" ngModel={{editEmployee?.employeeCode}} id="code" class="form-control" placeholder="code">
          <div class="form-group">
            <label for="email" class="form-label">Email address</label>
            <input type="text" ngModel={{editEmployee?.email}} name="email" class="form-control" id="emailAddress"
              placeholder="name@example.com" required="true">
          </div>
          <div class="form-group">
            <label for="jobTitle" class="form-label">Job Title</label>
            <input type="text" ngModel={{editEmployee?.jobTitle}} name="jobTitle" class="form-control" id="jobTitle"
              placeholder="Job Title" required="true">
          </div>
          <div class="form-group">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" ngModel={{editEmployee?.phone}} name="phone" class="form-control" id="phone"
              placeholder="Phone" required="true">
          </div>
          <div class="form-group">
            <label for="imageUrl" class="form-label">Image Url</label>
            <input type="text" ngModel={{editEmployee?.imageUrl}} name="imageUrl" class="form-control" id="imageUrl"
              placeholder="iamge url" required="true">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="update-employee-form" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
          <!-- passing the f -->
          <button type="button" (click)="onUpdateEmployee(editForm.value)" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>

</div>

<!-- delete employee Modal -->
<div id="delteEmployeeModal" class="modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- If i did not add the ? condition, the name will not be present and the page will not load the data. -->
        <p>Sure you want to delete <b>{{deleteEmployee?.name}} </b>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="delete-employee-form" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" (click)="onDeleteEmployee(deleteEmployee?.id)" class="btn btn-danger">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no employee -->
<div *ngIf="employees?.length===0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info " role="alert">
    <h4 class="alert-heading">No Contacts</h4>
    <p>No Contacts were found</p>
  </div>
</div>
